/**/CMakeFiles/*
/**/_deps/*
CMakeCache.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake
Fortify-config-version.cmake
Fortify-config.cmake
Fortify-targets.cmake
install_manifest.txt
assert_equal.f90

*.L
*.a
*.dylib
*.so
*.json
/**/*.mod


/**/Testing/*
/**/test/collect_tests.f90
/**/bin/*
test_fortify
